@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
  font-family: "Outfit", sans-serif;
  background: linear-gradient(100deg , rgb(0, 0, 0) , rgb(94, 94, 94));
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html, body, #root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
